.wrapper {
  margin: 0.5em auto;
  width: 95vh;
}

.header {
  color: teal;
}

.nav {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: teal;
  background-color: rgb(243, 243, 243);
  padding: 0.2em 0.5em;
}
